<h1 class="tag-title buffer-both"><%= @hashtag.text %></h1>

<div class="column-3-4">
  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @questions.each do |question| %>
        <%= link_to "@#{question.user.username}", user_path(question.user),
                    class: 'quest-owner' %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>